.border {
    display:inline-block;
    padding: 15px;
    border: 2px solid red;
    border-radius: 10px;
}

.border:hover {
    box-shadow: 7px 7px 6px #888888;
}

.ref, .ref a{
    font-size: 85%;
    color: gray;
    line-height:1.3em;
    font-style: italic;
}
.ref a:hover {
    color: red;
}
.ref:before {
    content: "[";
}
.ref:after {
    content: "]";
}


.struct {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    background-color: rgb(240,255,230);
    border-radius: 0.5em;
    margin: 1em;
    padding: 0.25em;
    border: 2px solid gray;
}
.struct-name {
    font-weight: bold;
    margin-bottom: 0.4em;
    font-size: 110%;
}
.struct-content {
    display: inline-block;
    background-color: rgb(240,230,255);
    margin-left: 1em;
    border-radius: 0.5em;
    padding: 0.5em;
}
