

html {
    background-color: white;
    color: rgb(0,0,0);
    font-family: 'Verdana','Arial',sans-serif;

    font-stretch: normal;
    text-decoration: none;

    width: calc(100vw-1em);
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

ul,ol {
    margin:0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

h1 {
    font-size: 180%;
    color: black;
    /*font-variant: small-caps;*/
    margin-left: -1.5rem;
    text-align: center;
    margin-bottom: 2.5em;

    background-color: rgb(238,238,238);
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid gray;
}

h2 {
    font-size: 130%;
    font-weight:600;
    margin-top: 50px;
    color: darkblue;
    /*font-variant: small-caps;*/
    margin-left: -1.5rem;

    background-color: rgb(238,238,248);
    padding-left: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid gray;
}
h3 {
    font-size: 110%;
    font-weight: 600;
    color: black;
    margin-top: 30px;
    margin-left: -1.5rem;

    background-color: rgb(245,245,245);
    padding-left: 1.0rem;
    padding-top: 3px;
    padding-bottom: 3px;
}
h4 {
    font-size: 110%;
    font-weight: 600;
    color: gray;
    margin-top: 25px;
    font-style: italic;
}

h2, h3, h4 {
    text-align: left;
}

.hidden {
    display: none;
}

#summary{
    position: fixed;
    overflow: auto;
    width: 250px;
    font-size: 0.8em;
    padding-top: 3em;
    margin-right: 1em;

    right: 0;
    top: 0;

    height: calc(100% - 3em);
    line-height: 1.6em;
}

#toc{
    position: fixed;
    overflow: auto;
    
    left: 0;
    top: 0;
    width: 250px;
    height: calc(50% - 6em);
    border-right: 1px solid black;
    background-color: #f8f8f7;
    font-size: 0.8em;
    padding-top: 6em;
    padding-left: 1em;


}
#toc .toc-expandable-title {
    position: relative;
}

#toc .toc-expandable-trigger {
    position: absolute;
    top: 0;
    left: 80%;
    padding-right: 10px;
    padding-left: 15px;
    width: calc(20% - 26px);
    font-weight: bold;
    background-color: rgb(230,230,230);
    height: 100%;
    outline: 1px solid rgb(150,150,150);
}
#toc .toc-expandable-trigger img {
    width: 12px;
}
#toc .toc-expandable-trigger:hover {
    cursor: pointer;
    background-color: rgb(150,150,150);
}


#title_id{
    position: fixed;
    overflow: auto;
    
    left: 0;
    top: 50%;
    width: 250px;
    border-right: 1px solid black;
    background-color: #f8f8f7;
    font-size: 0.8em;
    padding-top: 2em;
    padding-left: 1em;

    height: 50%;
    margin-bottom: 2em;

    border-top: 1px solid gray;
}

#toc-title {
    display: block;
    margin-bottom: 0.5em;
}

#main-content-margin {
    margin-left: 150px;
}

#main-content-centered {
    
    max-width: 900px;

    text-align: justify;
    line-height: 1.4em;
    margin: auto;

    margin-top: 3em;

    padding-bottom: 3em;
}



#toc a, #toc .no-url  {
    display:block;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
#toc .no-url {
    color: rgb(100,100,100);
}
#toc a {
    color: darkblue;
}

#toc .toc-entry {
    display:block;
    margin: 0;
    padding: 0;
}
#toc a:hover {
    background-color: rgb(180,180,180);
}
/* #toc > div:hover a {
    color: red;
} */

#toc a.current-page {
    font-weight: bold;
    color: blue;
}


#toc .indent-1 {
    margin-left: 1.5em;
    font-size: 90%;
    line-height: 0.8em;
    /*padding-bottom: 0.25em;
    padding-top: 0;
    font-style: italic;*/
}

#toc .indent-2 {
    margin-left: 2em;
}

#toc .menu-delimiter {
    margin: auto;
    width: 75%;
    background-color: gray;
    height: 2px;
    margin-top: 1.5em;
}

.code-inline {
    background-color: #AFB8C144;
    padding: 0.2em 0.4em;
    border-radius: 6px;
    font-size: 105%;
}

#title_id .title {
    font-weight: bold;
}

#title_id .title_id-level-2 {
    margin-left: 1em;
}
#title_id .title_id-level-3 {
    margin-left: 2em;
}
#title_id a {
    display: block;
}
#title_id div:hover > a {
    background-color: rgb(180,180,180);
    color: blue;
}


@media (max-width: 1620px) {
    #summary {
        display: none;
    }
}

@media (max-width: 1350px) {
    #main-content-margin {
        margin-left: 270px;
    }
    #main-content-centered{
        margin-left: 1em;
        margin-right: 1.5em;
    }
}

@media (max-width: 800px) {
    #toc{
        position: static;
        background-color: white;
        border-right: 0;
        font-size: 1em;
        text-align: center;
        width: 80%;
        margin: auto;
        padding-bottom: 3em;
    }
    #title_id {
        display: none;
    }
    #main-content-margin{
        margin-left:1em;
        margin-right: 1.5em;
    }
    #toc a{
        border: 2px solid rgb(180,180,180);
        background-color: rgb(240,240,240);
        margin-top: 0.25em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #toc a:hover {
        background-color: rgb(250,250,250);
    }

}



.code pre 
{
    font-family: 'Source Code Pro', sans-serif;
    font-size: 0.9em;
    line-height: 1.3em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.code
{
    background-color: rgb(245,245,245);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
}



iframe{
    border: 0;
}


.part-output {
    margin: 0.5em;
    min-width: 25%;
}
.part-output-black {
    color: white;
    background-color: black;

    line-height: 1.3em;

    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10px;

    min-width: 25%;
}
.part-code{
    width: 100%;
}

.code-with-output {
    display: flex;
}

.summary-level-2 {
    font-weight: bold;
}
.summary-level-3 {
    margin-left: 1.0em;
}
.summary-level-4 {
    margin-left: 2.5em;
    font-size: 80%;
    line-height: 1.3em;
    font-style: italic;
}

.summary a {
    color: rgb(120,120,120);
}
.summary a:hover {
    color: red;
}

.katex {
    font-size: 105% !important;
}