{% set pageTitle = 'Installation' %}

{% extends "theme/template/base.html" %}

{% block style %}
<style>
    a .download {color: gray; width:100%; max-width:260px;}
    .download {padding: 2px; border-radius:10px; border:2px solid rgb(230,230,230); padding:0;}
    .download:hover {border: 2px solid gray; background-color:rgb(230,230,230);}
    a:hover {color:rgb(255,120,120);}
    .logo {
        border:2px solid rgb(230,230,230);
        border-radius:10px;
        width:200px;
        margin: auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .logo a:hover {
        border: 2px solid gray;
        background-color:rgb(230,230,230);
    }

    .logo-wrap{
        width: 100%;
        height: 200px;
        border:2px solid rgb(230,230,230);
        border-radius:10px;
        display: inline-block;
    }
    .logo-wrap:hover {
        border: 2px solid gray; 
        background-color:rgb(230,230,230);
    }
    .seance {
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        width:250px;
        border: 2px solid rgb(220,220,220);
        text-align:center;
        border-radius: 10px;
        padding: 0.5em;

        position: relative;

    }
    .seance a{
        color: rgb(50,50,50);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .seance a:hover{
        color: rgb(250,120,120);
    }

    .explanation {
        text-align:left;
        font-size: 85%;
        line-height:1.3em;
        color: gray;
        font-style:italic;
    }
</style>
{% endblock %}

{% block content %}
Les travaux pratiques d'INF443 sont une initiation à la programmation graphique en 3D en langage C++, et utilisant OpenGL.

::[height:1em;]::

Ces TP introduisent les notions de modélisation, de texture, d'animation et de simulation au travers de différents exemples et d'une scène composée d'un terrain et de végétation qui pourra être complétée au fur et à mesure des séances.

::[height:1em;]::

::[font-style:italic;]
Le langage C++ et les appels OpenGL sont introduits au cours des séances sans nécessiter de prérequis. <br>
Pour simplifier le développement du code graphique et les appels d'affichages, les codes se bases sur une bibliothèque dédiée: link::https://imagecomputing.net/cgp/index.html[CGP] qui apporte une couche minimaliste au dessus d'OpenGL, mais reste entièrement compatible avec des appels bas-niveau.
::



== Programme des séances


<div style="display:flex; flex-wrap:wrap; justify-content:space-around;">

<div class="seance">
<a href="../01_scene_3D/index.html">
<div>
**Séance 1**: Introduction maillage et scène 3D <br>
videoplay::assets/seances/01_slider.mp4[width:250px;]
</div>
<div class="explanation">
    Prise en main de la logique de l'affichage d'objets dans une scène 3D. Maillage, notion de caméra, shaders.
</div>
</a>
</div>

<div class="seance">
<a href="../02_c++_opengl/index.html">
<div>
**Séance 2**: Langage C++ et OpenGL <br>
img::assets/seances/02_colored_triangle.png[width:150px;]
</div>
<div class="explanation">
    Introduction aux fondamentaux du langage C++ et au fonctionnement d'OpenGL.
</div>
</a>
</div>

<div class="seance">
<a href="../03_modeling/index.html">
<div>
**Séance 3**: Modélisation <br>
videoplay::assets/seances/03_modelisation.mp4[width:190px;]
</div>
<div class="explanation">
    Modélisation de formes 3D. Création d'un maillage de terrain sous la forme d'un champ de hauteur. Placement d'arbres formés de primitives.
</div>
</a>
</div>

<div class="seance">
<a href="../04_textures/index.html">
<div>
**Séance 4**: Textures <br>
videoplay::assets/seances/04_texture.mp4[width:190px;]
</div>
<div class="explanation">
    Affichage des textures et paramètres OpenGL. Mapping de texture uv sur des maillages. Bruit de perlin pour ajout de détails géométriques. Textures semi-transparentes et billboards.
</div>
</a>
</div>

<div class="seance">
<a href="../05_animation/index.html">
<div>
**Séance 5**: Animation <br>
videoplay::assets/seances/05_animation.mp4[width:250px;]
</div>
<div class="explanation">
    Animation paramétrique (courbes splines cardinale, animation hiérarchique)
</div>
</a>
</div>

<div class="seance">
<a href="../06_simulation/index.html">
<div>
**Séance 6**: Simulation <br>
videoplay::assets/seances/06_simulation.mp4[width:230px;]
</div>
<div class="explanation">
    Animation par simulation (rebond et masse-ressorts)
</div>
</a>
</div>

</div>

::[height:1em;]::

::[margin:auto; width:max-content;]
**Séance 7-10**: Projet <br> __Exemples: [link::https://youtu.be/QXZd_xzQPSs[2021]], [link::https://youtu.be/_A_Q8R7hA2E[2020]], [link::https://youtu.be/BoSdvyMBLAY[2019]]__
::

== Etape 1: Téléchargement du code des séances

L'archive suivante contient l'ensemble des codes nécessaire pour les séances pratiques.
* - Téléchargez et décompressez celle-ci dans le répertoire de votre choix.
::[font-size:90%; font-style:italic; color:gray;]
** Privilégiez un chemin d'accès qui ne contient ni accents ni espaces. 
** (le "chemin d'accès" correspond aux noms des répertoires depuis la racine ("C:" sous Windows ou "/" sous Unix/Linux.)
::
* - Les codes des sessions pratiques se situent dans les répertoires **scenes/inf443/**

::[height:1em;]::


<div style="width:200px; margin:auto;">
<a href="../code/code_inf443.zip" class="logo-wrap">
    <div style="text-align:center; margin-top:1em; font-weight:bold;">
    Téléchargez le Code
    ::[height:0.5em;]::
    img::assets/download-logo.png[width:80px;] <br>
    img::assets/zip-logo.png[width:50px;]
    </div>
</a>
<div style="font-size:90%; line-height:1.4em; color:gray;">
    Tous les choix: <br>
    [<a href="../code/code_inf443.zip">code_inf443.zip</a>] <br>
    [<a href="../code/code_inf443.tar.gz">code_inf443.tar.gz</a>] <br>
    [<a href="../code/inf443.zip">exercices seuls</a>]
</div>
</div>

== Etape 2: Installation des outils de compilation.

Il est ensuite nécessaire d'installer les outils nécessaires sur votre ordinateur afin de pouvoir compiler et éditer du code C++ de manière efficace.

::[height:1em;]::

Cette étape va dépendre de votre système d'exploitation (Windows, Linux, Mac). <br>
Suivez ce tutoriel afin d'installer les outils nécessaire et compiler votre premier programme.

::[height:1em;]::

<div style="width:200px; margin:auto;">
<a href="https://imagecomputing.net/cgp/compilation" class="logo-wrap">
    <div style="text-align:center; margin-top:1em; font-weight:bold;">
    Tutoriel installation<br> 
    &amp; compilation
    ::[height:1em;]::
    img::assets/cpp_logo.svg[width:75px;]
    </div>
</a>
<div style="font-size:90%; line-height:1.4em; color:gray;">
Accès direct: <br>
[<a href="https://imagecomputing.net/cgp/compilation/content/02_windows_setup/index.html">Windows</a>], [<a href="https://imagecomputing.net/cgp/compilation/content/03_linux_setup/index.html">Linux</a>], [<a href="https://imagecomputing.net/cgp/compilation/content/04_macos_setup/index.html">MacOS</a>]
</div>
</div>


::[height:2em;]::

Le tutoriel illustre la compilation du programme présent dans le répertoire __scenes/examples/00_cgp_example/__.<br>
La démarche sera similaire pour tous les autres codes d'INF443 par la suite.


::[height:2em;]::

**Remarque:** <br>
Il est possible d'utiliser les PC fixes de l'école qui disposent d'une carte graphique permettant d'afficher des scènes 3D complexes. Il est cependant nécessaire d'adapter les scripts de compilation pour compiler sur ces machines. <br>
<a href="../install_pc_ecole/index.html">Suivez ces indications si vous souhaitez compiler sur ces PC.</a>

== Liens utiles


=== Bibliothèque CGP

* link::https://imagecomputing.net/cgp/index.html[Page web de la bibliothèque CGP]
** link::https://imagecomputing.net/cgp/content/02_quick_tour/index.html[Documentation basique des fonctions de CGP]
** link::https://imagecomputing.net/cgp/content/04_examples/index.html[Exemples de scènes/effets] (au dela de ce qui sera vu en TP)
* link::https://github.com/drohmer/CGP[Page github de la bibliothèque]
* link::https://imagecomputing.net/cgp/compilation[Page d'aide à la compilation détaillée]

=== Aide diverses

* link::../debug/index.html[Comment debugger en cas d'erreur]
* link::https://imagecomputing.net/cgp/compilation/content/05_adding_new_files/index.html[Comment ajouter/supprimer de fichier C++ dans votre programme]
* link::https://imagecomputing.net/cgp/compilation/content/06_ide_qtcreator/index.html[Comment utiliser l'IDE QtCreator sous Linux/Mac.]

{% endblock %}